<configuration>
    <settings>
        <id>SERVER_00100</id>
        <port>9999</port>
        <ip>192.168.1.32</ip>
    </settings>
    <applications>
        <app>
            <n>Calculator</n>
            <executable>/usr/bin/gnome-calculator</executable>
            <status>start</status>
        </app>
    </applications>
</configuration>
